In [1]:
import math

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from statsmodels.stats.multicomp import pairwise_tukeyhsd
import seaborn as sns 
sns.set()

In [4]:
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/nyc-population-tall.csv')

In [5]:
df
df = pivot

    year        borough  population
0   1900      Manhattan     1850093
1   1900       Brooklyn     1166582
2   1900         Queens      152999
3   1900          Bronx      200507
4   1900  Staten Island       67021
5   1910      Manhattan     2331542
6   1910       Brooklyn     1634351
7   1910         Queens      284041
8   1910          Bronx      430980
9   1910  Staten Island       85969
10  1920      Manhattan     2284103
11  1920       Brooklyn     2018356
12  1920         Queens      469042
13  1920          Bronx      732016
14  1920  Staten Island      116531
15  1930      Manhattan     1867312
16  1930       Brooklyn     2560401
17  1930         Queens     1079129
18  1930          Bronx     1265258
19  1930  Staten Island      158346
20  1940      Manhattan     1889924
21  1940       Brooklyn     2698285
22  1940         Queens     1297634
23  1940          Bronx     1394711
24  1940  Staten Island      174441
25  1950      Manhattan     1960101
26  1950       Brooklyn     2738175
27  1950         Queens     1550849
28  1950          Bronx     1451277
29  1950  Staten Island      191555
30  1960      Manhattan     1698281
31  1960       Brooklyn     2627319
32  1960         Queens     1809578
33  1960          Bronx     1424815
34  1960  Staten Island      221991
35  1970      Manhattan     1539233
36  1970       Brooklyn     2602012
37  1970         Queens     1986473
38  1970          Bronx     1471701
39  1970  Staten Island      295443
40  1980      Manhattan     1428285
41  1980       Brooklyn     2230936
42  1980         Queens     1891325
43  1980          Bronx     1168972
44  1980  Staten Island      352121
45  1990      Manhattan     1487536
46  1990       Brooklyn     2300664
47  1990         Queens     1951598
48  1990          Bronx     1203789
49  1990  Staten Island      378977
50  2000      Manhattan     1537195
51  2000       Brooklyn     2465326
52  2000         Queens     2229379
53  2000          Bronx     1332650
54  2000  Staten Island      443728
55  2010      Manhattan     1585873
56  2010       Brooklyn     2504700
57  2010         Queens     2230722
58  2010          Bronx     1385108
59  2010  Staten Island      468730