In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy import mean
import matplotlib.pyplot as plt
import seaborn as sns
import math
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [59]:
df = pd.DataFrame(data = { 'Group1':[3,4,2,6,4,5,6,7,2,3,4,3,3,3,6,4,5,2,4,5,], 
                          'Group2':[18,23,32,62,35,45,75,34,34,18,29,17,18,15,46,36,47,35,24,14]})




Gender = []
for i in range(len(df)):
    x = np.random.randint(1,3)
    if x == 1:
        Gender.append('F')
    else:
        Gender.append('M')
    
Gender

df['Gender'] = Gender

In [60]:
df

    Group1  Group2 Gender
0        3      18      F
1        4      23      F
2        2      32      F
3        6      62      F
4        4      35      M
5        5      45      M
6        6      75      F
7        7      34      M
8        2      34      M
9        3      18      M
10       4      29      M
11       3      17      M
12       3      18      M
13       3      15      F
14       6      46      F
15       4      36      F
16       5      47      M
17       2      35      F
18       4      24      M
19       5      14      F

In [68]:

plt.hist(df[(df.Gender=='M')][df['Group1'])
plt.hist(df[(df.Gender=='F')].Group1)

# plt.show()

AttributeError: 'DataFrame' object has no attribute 'df'

In [39]:
stats.ttest_ind(df['Group1'], df['Group2'])

Ttest_indResult(statistic=-7.949555243623921, pvalue=1.327238317243126e-09)